:root {
  --border-radius: 5px;
  --gutter: 15px;
}

/* FILTER SIDEBAR */
#sidebar-open {
  position: fixed;
  background-color: rgba(192,192,192,0.5);
  border-radius: var(--border-radius);
  top: var(--gutter);
  left: var(--gutter);
  padding: var(--gutter);
  width: 4em;
  height: 4em;
  line-height: calc(4em - 30px);
  text-align: center;
}
#sidebar-close {
  position: absolute;
  background-color: rgba(192,192,192,0.5);
  border-radius: var(--border-radius);
  top: var(--gutter);
  right: var(--gutter);
  padding: var(--gutter);
  width: 4em;
  height: 4em;
  line-height: calc(4em - 30px);
  text-align: center;
}
#sidebar-wrapper {
  z-index: 100;
  background: rgba(250,250,250,1);
  background-image: radial-gradient( circle farthest-corner at 18.7% 37.8%,  rgba(250,250,250,1) 0%, rgba(225,234,238,1) 90% );
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
#sidebar-nav {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  transition: width .5s;
  width: 0;
  padding: var(--gutter);
}
#sidebar-nav.show {
  width: 320px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* NAVBAR ADMIN MENU */
.navbar-nav.admin-menu a {
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
}
.navbar-nav.admin-menu a[href*="ReportList"]:before {
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	margin-right: 5px;
	content: "\f659";
}
.navbar-nav.admin-menu a[href*="ExportReport"]:before {
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	margin-right: 5px;
	content: "\f56d";
}
.navbar-nav.admin-menu a[href*="logout"]:before {
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	margin-right: 5px;	
	content: "\f08b";
}
